<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konto</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Twoje Paragony</h2>
        <ul class="list-group">
            {% for paragon in lista_zamowien %}
            <li class="list-group-item">
                <pre>{{ paragon }}</pre>
            </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('index') }}" class="btn btn-danger mt-4">Powrót do strony głównej</a>
    </div>
    {% endblock %}
</body>
</html>
