<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Twoje Paragony</h2>
        <ul>
            {% for paragon in lista_zamowien %}
            <li>
                <pre>{{ paragon }}</pre>
            </li>
        {% endfor %}
        </ul>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Powrót do strony głównej</a>
    </div>
</body>
</html>